

/*
Info Panel
*/

#presyn-N{
    max-width: 50px;
    text-align:center;
}
#postsyn-N{
    max-width: 50px;
    text-align: center;
}

.info-input-span{
    color: #999;
    /*font-size: 1.5vw;*/
}

.info-input{
    background: var(--srch-box-background);
    border-color: var(--srch-box-background);
    color: var(--srch-box-color);
    border-width: 1px;
    font-family: monospace;
}

.info-try {
  font-weight: 400;
  background: #377097;
  color: #ccc;
  /*font-size: 14px;*/
  border: 5px solid #377097;
  margin: -4px 0px 0px 10px
}

.info-try:focus,
.info-try:active:focus,
.info-try.active:focus {
    outline: 0 none;
}

.info-try:hover,
.info-try:focus {
    color: #eee;
}

.info-try:active,
.info-try.active {
    background: #444;
    color: #ddd;
}

.vis-info p {
  margin-left: 10px;
  margin-right: 10px;

}

.vis-info table > tbody > tr > td {
    color: var(--font-color-p);
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #55595c;
}

.table-inverse th{
    color: #eee;
}
.table-inverse {
    color: #eceeef;
}

.table-custom-striped td, .table-custom-striped th {
    text-align:center;
}

.table-custom-striped td:first-child, .table-custom-striped th:first-child {
    text-align:left;
}

.table-custom-striped td:last-child, .table-custom-striped th:last-child {
    text-align:right;
    padding-right: 20px;
}


.vis-info {
  background: var(--infobar-background-color);
  border: 3px solid #1f1f1f;
  border-radius: 3px;
  left: 10px;
  top: 20px;
  position: fixed;
  z-index: 150;
  -webkit-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
  box-shadow: 0px 0px 4px var(--infobar-background-color);
}

.vis-info-sm {
  height: 35px;
  width: 250px;
  top: 60px;
  overflow: hidden;
}

/* .vis-info-sm:hover */
.vis-info-pin {
  /*height: 400px;*/
  top: 60px;
  height: calc(100vh - 120px);
  width: calc(var(--boundary-horizontal) - 15px);
  overflow-x: hidden;
  overflow-y: auto;
}

#info-pin-div > ul {
  height: 40px;
  width: 100%;
  /* position: absolute; */
  margin-bottom: -5px;
}
#info-pin-div > ul > li:first-child > p {
  margin-top: 7px;
  /*margin-left: 5px;*/
  color: var(--font-color-p);
}
#info-pin-div > ul > li > p {
  margin-top: 5px;
  /*margin-left: 5px;*/
  color: white;
}

.vis-info > #info-pin-div > ul > li:first-child {
  width: calc( 95% - 50px );
}

#info-pin-div > ul > li:last-child {
  padding-right: 0px;
  float:right;
}

#info-pin-div > ul > li:last-child > .btn {
    margin-top: 7px;
    margin-right: 2px;
    background: transparent;
    color: #aaa;
    /*font-size: 15px;*/
}

#info-pin-div > ul > li:last-child > .btn:focus,
#info-pin-div > ul > li:last-child > .btn:active:focus,
#info-pin-div > ul > li:last-child > .btn.active:focus {
    outline: 0 none;
}

#info-pin-div > ul > li:last-child > .btn:hover {
    color: #eee;
}

.vis-info-pin > #info-pin-div > ul > li:first-child > p {
  display: none;
}

.vis-info-sm > *:nth-child(2) {
  display: none;
}


.ffbo-intro > p,
.ffbo-intro > h1,
.ffbo-intro > h2,
.ffbo-intro > h3,
.ffbo-intro > h4,
.ffbo-intro > h5 {
  margin-left: 10px;
  margin-right: 15px;
}

#neu-id {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .vis-info-sm {
    width: 40%;
  }
}

@media screen and (max-width: 780px) and (orientation:portrait) {
  .vis-hf-r,
  .vis-3d-hf {
    height: calc( 60% - 35px - 25px ) !important;
    width: calc( 100% - 20px ) !important;
    top: calc( 40% ) !important;
    left: 10px !important;
  }
  /* .vis-info-sm:hover */
  .vis-info-pin,
  .vis-sm:hover,
  .vis-sm-1:hover {
    top: 60px;
    height: calc( 40% - 35px - 25px - 10px);
    width: calc( 100% - 20px );
    overflow-y: auto;
  }

  .vis-3d-lg {
      border: none;
      height: calc( 100% - 120px );
      width: calc( 100% - 20px );
      top: 60px;
      left: 10px;
  }

}


/* making responsive table with CSS grid*/
.table-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}


.table-grid > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    box-sizing: border-box;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    align-items: center;
}

.table-grid > div p{
    margin: 0px;
    padding: 8px;
    box-sizing: border-box;
    align-self: center;
    color: var(--font-color-p);
}

#info-panel-extra-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    grid-column-gap: 10px;
    justify-items: center;
}


#info-panel-extra-img img {
    max-width: 150px;
    max-height: 150px;
}


#info-panel-conn-table >div:first-child  {
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: start;
}

#info-panel-table .info-input{
    width: 100%;
    max-width: 150px;
}


#info-panel-conn-svg  {
    text-align: center;
}

#info-panel-conn-svg > svg {
    min-width:250px;
    max-width:675px;
}



.syn-column rect{fill:#8E554C}

.syn-column.pre rect[class^='Gad1'] {fill:#FBB4AE}
.syn-column.post rect[class^='Gad1'] {fill:#FBB4AE}

.syn-column.pre rect[class^='Cha'] {fill:#1F77B4}
.syn-column.post rect[class^='Cha'] {fill:#1F77B4}

.syn-column.pre rect[class^='TH'] {fill:#FF9896}
.syn-column.post rect[class^='TH'] {fill:#FF9896}

.syn-column.pre rect[class^='VGlut'] {fill:#AEC7E8}
.syn-column.post rect[class^='VGlut'] {fill:#AEC7E8}

.syn-column.pre rect[class^='fru'] {fill:#393B79}
.syn-column.post rect[class^='fru'] {fill:#393B79}

.syn-column.pre rect[class^='Tdc2'] {fill:#6B6ECF}
.syn-column.post rect[class^='Tdc2'] {fill:#6B6ECF}

.syn-column.pre rect[class^='Trh'] {fill:#637939}
.syn-column.post rect[class^='Trh'] {fill:#637939}

.syn-column.pre rect[class^='5HT1A'] {fill:#8CA252}
.syn-column.post rect[class^='5HT1A'] {fill:#8CA252}



.syn-column.pre rect[class^='Dm1'] {fill:#FBB4AE}
.syn-column.post rect[class^='Dm1'] {fill:#FBB4AE}

.syn-column.pre rect[class^='Dm2'] {fill:#B3CDE3}
.syn-column.post rect[class^='Dm2'] {fill:#B3CDE3}

.syn-column.pre rect[class^='Dm3'] {fill:#CCEBC5}
.syn-column.post rect[class^='Dm3'] {fill:#CCEBC5}

.syn-column.pre rect[class^='Dm4'] {fill:#DECBE4}
.syn-column.post rect[class^='Dm4'] {fill:#DECBE4}

.syn-column.pre rect[class^='Dm5'] {fill:#FED9A6}
.syn-column.post rect[class^='Dm5'] {fill:#FED9A6}

.syn-column.pre rect[class^='Dm6'] {fill:#FFFFCC}
.syn-column.post rect[class^='Dm6'] {fill:#FFFFCC}

.syn-column.pre rect[class^='Dm7'] {fill:#E5D8BD}
.syn-column.post rect[class^='Dm7'] {fill:#E5D8BD}

.syn-column.pre rect[class^='Dm8'] {fill:#FDDAEC}
.syn-column.post rect[class^='Dm8'] {fill:#FDDAEC}

.syn-column.pre rect[class^='Dm9'] {fill:#F2F2F2}
.syn-column.post rect[class^='Dm9'] {fill:#F2F2F2}




.syn-column.pre rect[class^='L1'] {fill:#1F77B4}
.syn-column.post rect[class^='L1'] {fill:#1F77B4}

.syn-column.pre rect[class^='L5'] {fill:#AEC7E8}
.syn-column.post rect[class^='L5'] {fill:#AEC7E8}

.syn-column.pre rect[class^='L2'] {fill:#FF7F0E}
.syn-column.post rect[class^='L2'] {fill:#FF7F0E}

.syn-column.pre rect[class^='L4'] {fill:#FFBB78}
.syn-column.post rect[class^='L4'] {fill:#FFBB78}

.syn-column.pre rect[class^='C2'] {fill:#2CA02C}
.syn-column.post rect[class^='C2'] {fill:#2CA02C}

.syn-column.pre rect[class^='C3'] {fill:#98DF8A}
.syn-column.post rect[class^='C3'] {fill:#98DF8A}

.syn-column.pre rect[class^='L3'] {fill:#D62728}
.syn-column.post rect[class^='L3'] {fill:#D62728}

.syn-column.pre rect[class^='Lawf1'] {fill:#FF9896}
.syn-column.post rect[class^='Lawf1'] {fill:#FF9896}

.syn-column.pre rect[class^='R7'] {fill:#9467BD}
.syn-column.post rect[class^='R7'] {fill:#9467BD}

.syn-column.pre rect[class^='R8'] {fill:#C5B0D5}
.syn-column.post rect[class^='R8'] {fill:#C5B0D5}

.syn-column.pre rect[class^='Lawf2'] {fill:#8C564B}
.syn-column.post rect[class^='Lawf2'] {fill:#8C564B}

.syn-column.pre rect[class^='Pm1'] {fill:#C49C94}
.syn-column.post rect[class^='Pm1'] {fill:#C49C94}

.syn-column.pre rect[class^='Pm2'] {fill:#E377C2}
.syn-column.post rect[class^='Pm2'] {fill:#E377C2}

.syn-column.pre rect[class^='Pm3'] {fill:#F7B6D2}
.syn-column.post rect[class^='Pm3'] {fill:#F7B6D2}

.syn-column.pre rect[class^='Pm4'] {fill:#7F7F7F}
.syn-column.post rect[class^='Pm4'] {fill:#7F7F7F}




.syn-column.pre rect[class^='T4a'] {fill:#393B79}
.syn-column.post rect[class^='T4a'] {fill:#393B79}

.syn-column.pre rect[class^='T4b'] {fill:#5254A3}
.syn-column.post rect[class^='T4b'] {fill:#5254A3}

.syn-column.pre rect[class^='T4c'] {fill:#6B6ECF}
.syn-column.post rect[class^='T4c'] {fill:#6B6ECF}

.syn-column.pre rect[class^='T4d'] {fill:#9C9EDE}
.syn-column.post rect[class^='T4d'] {fill:#9C9EDE}

.syn-column.pre rect[class^='Mi1'] {fill:#637939}
.syn-column.post rect[class^='Mi1'] {fill:#637939}

.syn-column.pre rect[class^='Mi4'] {fill:#8CA252}
.syn-column.post rect[class^='Mi4'] {fill:#8CA252}

.syn-column.pre rect[class^='Mi9'] {fill:#B5CF6B}
.syn-column.post rect[class^='Mi9'] {fill:#B5CF6B}

.syn-column.pre rect[class^='Mi2'] {fill:#CEDB9C}
.syn-column.post rect[class^='Mi2'] {fill:#CEDB9C}

.syn-column.pre rect[class^='Tm3a'] {fill:#8C6D31}
.syn-column.post rect[class^='Tm3a'] {fill:#8C6D31}

.syn-column.pre rect[class^='Tm3p'] {fill:#BD9E39}
.syn-column.post rect[class^='Tm3p'] {fill:#BD9E39}

.syn-column.pre rect[class^='T2'] {fill:#E7BA52}
.syn-column.post rect[class^='T2'] {fill:#E7BA52}

.syn-column.pre rect[class^='T3'] {fill:#E7CB94}
.syn-column.post rect[class^='T3'] {fill:#E7CB94}

.syn-column.pre rect[class^='Tm1'] {fill:#843C39}
.syn-column.post rect[class^='Tm1'] {fill:#843C39}

.syn-column.pre rect[class^='Mi21'] {fill:#AD494A}
.syn-column.post rect[class^='Mi21'] {fill:#AD494A}

.syn-column.pre rect[class^='Tm4'] {fill:#D6616B}
.syn-column.post rect[class^='Tm4'] {fill:#D6616B}

.syn-column.pre rect[class^='Tm9'] {fill:#E7969C}
.syn-column.post rect[class^='Tm9'] {fill:#E7969C}

.syn-column.pre rect[class^='Tm20'] {fill:#7B4173}
.syn-column.post rect[class^='Tm20'] {fill:#7B4173}

.syn-column.pre rect[class^='T1'] {fill:#A55194}
.syn-column.post rect[class^='T1'] {fill:#A55194}


.syn-column.pre rect[class^='Tm2'] {fill:#00007F}
.syn-column.post rect[class^='Tm2'] {fill:#00007F}



.syn-column.pre rect[class^='Mi22'] {fill:#000084}
.syn-column.post rect[class^='Mi22'] {fill:#000084}

.syn-column.pre rect[class^='Tm16'] {fill:#000088}
.syn-column.post rect[class^='Tm16'] {fill:#000088}

.syn-column.pre rect[class^='Tm22'] {fill:#00008D}
.syn-column.post rect[class^='Tm22'] {fill:#00008D}

.syn-column.pre rect[class^='Tm23_24'] {fill:#000091}
.syn-column.post rect[class^='Tm23_24'] {fill:#000091}

.syn-column.pre rect[class^='Tm25_Y1'] {fill:#000096}
.syn-column.post rect[class^='Tm25_Y1'] {fill:#000096}

.syn-column.pre rect[class^='Tm28_TmY9'] {fill:#00009A}
.syn-column.post rect[class^='Tm28_TmY9'] {fill:#00009A}

.syn-column.pre rect[class^='Tm5'] {fill:#00009F}
.syn-column.post rect[class^='Tm5'] {fill:#00009F}

.syn-column.pre rect[class^='Tm6'] {fill:#0000A3}
.syn-column.post rect[class^='Tm6'] {fill:#0000A3}

.syn-column.pre rect[class^='Tm8'] {fill:#0000A8}
.syn-column.post rect[class^='Tm8'] {fill:#0000A8}

.syn-column.pre rect[class^='TmY10'] {fill:#0000AC}
.syn-column.post rect[class^='TmY10'] {fill:#0000AC}

.syn-column.pre rect[class^='TmY13'] {fill:#0000B1}
.syn-column.post rect[class^='TmY13'] {fill:#0000B1}

.syn-column.pre rect[class^='TmY3'] {fill:#0000B6}
.syn-column.post rect[class^='TmY3'] {fill:#0000B6}

.syn-column.pre rect[class^='TmY4'] {fill:#0000BA}
.syn-column.post rect[class^='TmY4'] {fill:#0000BA}

.syn-column.pre rect[class^='TmY5a'] {fill:#0000BF}
.syn-column.post rect[class^='TmY5a'] {fill:#0000BF}

.syn-column.pre rect[class^='Y3_Y6'] {fill:#0000C3}
.syn-column.post rect[class^='Y3_Y6'] {fill:#0000C3}

/*
.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #55595c;
}

.table-inverse th{
    color: #eee;
}
.table-inverse {
    color: #eceeef;
}

.vis-info table > tbody > tr > td {
    color: var(--font-color-p);
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #55595c;
}

.table-inverse th{
    color: #eee;
}
.table-inverse {
    color: #eceeef;
}

.table-custom-striped td, .table-custom-striped th {
    text-align:center;
}

.table-custom-striped td:first-child, .table-custom-striped th:first-child {
    text-align:left;
}

.table-custom-striped td:last-child, .table-custom-striped th:last-child {
    text-align:right;
    padding-right: 20px;
}

*/
